body {
	display: inline-block;
}
header {
	color: purple;
	font-family: fantasy;
	text-align: center;
}
h2 {
	color: purple;
	font-family: Trattatello, fantasy;
}
p {
	text-align: center;
	color: #000000;
}
.jumbotron {
	text-align: center;
	color: white;
	background-color: black;
}
button	{
	background-color: gray;
	color: white;
}
#container {
	color: black;
}
img	{
	text-align: center;
}